<% content_for :navigation do %>
	<%= render 'layouts/nav_sec_admin' %>
	<%= render 'layouts/nav_prim_act_users' %>
<% end %>

<div id='users'>
	<% @users.each do |user| %>
		<%= render user %>
	<% end %>
</div>
