<%= content_for :secondary_navigation do render 'layouts/secondary_navigations/navigation_admin' end %>
<%= content_for :primary_actions do render 'layouts/primary_actions/primary_actions_users' end %>

<div id='users'>
	<% @users.each do |user| %>
		<%= render user %>
	<% end %>
</div>
