<% if deliveries.any? %>

  <% deliveries.each do |delivery| %>
    <div id='delivery-ajax-<%= delivery.id %>'>
      <%= render delivery,
            card_title: delivery.address_short,
            order: order %>
    </div>
  <% end %>

<% end %>

<% if order && order.at_check_out? && !deliveries.map(&:editable?).any? %>

  <header>
    <h3 class='add-address' title='nieuw adres'><i class='fa fa-plus'></i> ADRES</h3>
  </header>

  <div id='delivery-form' style='display: none;'>
    <%= render 'deliveries/form',
          delivery: sender.deliveries.build,
            sender: sender %>
  </div>

  <script>
  $(document).ready(function(){
      $(".add-address").click(function(){
          $("#delivery-form").toggle();
      });
  });
  </script>

<% end %>
