<div id='page'>
  <h3 class='title'>Onze expositie</h3>

  <div class='introduction'>
    <p>
      De honingbij is het kleinste landbouwhuisdier van de mens.
      Maar zeker een van de belangrijkste.
      De bij is onmisbaar voor de wereldwijde voedselproduktie.
      In onze expositieruimte krijgt u een kort en interessant overzicht van wat er allemaal komt kijken bij
      het houden van bijen.
      Zo hebben we een mooie collectie imkermaterialen van over de hele wereld en kunt u de bijen
      natuurlijk ook zien.
      Achter glas uiteraard.
    </p>
  </div>

  <div class='story'>
    <p>
      U ziet vanaf een paar centimeter afstand de werksters bezig aan het maken van nieuwe raten,
      u ziet de bijen af en aan vliegen met klontjes stuifmeel aan de poten en met een beetje geluk bent
      u getuige van een bijenzwerm of de bruidsvlucht van de koningin.
    </p>

    <p>
      In de expo draait ook een informatieve film die het leven van de honingbij duidelijk maakt voor jong en oud.
      En mocht u daarna nog vragen hebben over alles wat met bijen te maken heeft dan beantwoorden we die graag.
    </p>

    <p>
      De expositie is vrij toegangkelijk. Reserveren o.i.d. is niet nodig.
    </p>
  </div>
</div>
