<div id='page'>
  <h3 class='title'>Zie ook wat wij nog meer doen</h3>

  <div class='introduction'>
    In de omgeving verspreiden wij onze streekproducten en hiernaast zijn wij ook in de wereld van bijenhouders actief betrokken.
  </div>

  <div class='story'>
    <p>
        <b>Peper & Zout...</b>
        in dit restaurant kun je gezellig eten onder het genot van goede wijn,
        terwijl je bedient wordt door een keuken welke veelvuldig gebruik maakt van verse streekprodructen.
        Prachtig gelokaliseerd pal naast het mooie oude stadhuis in het al even betoverende
        historische centrum van Middelburg.
        <a href="http://www.peperenzout.com">website</a>
    </p>

    <p>
        <b>Domburgsche Bier en Melksalon...</b>
        een mooie plaats in Domburg waar je kunt ontbijten, lunchen of gewoon even lekker een kopje versgemalen
        koffie kunt komen drinken. Naast een vaste menukaart vind je hier een regelmatig wisselende kaart
        die op de muur staat geschreven. Alle gerechten en taarten maken ze zelf met gebruik van biologische
        ingredienten aangevuld met producten uit de streek.
        <a href="http://www.bierenmelksalon.nl">website</a>
    </p>

    <!-- Plaats hier de clubs waaraan jullie je verwant voelen (verhaaltje, website) -->
    <h3>Andere nuttige links</h3>

    <p>
        Heeft u altijd al imker willen worden of bent u op zoek naar specifieke informatie over de bijenteelt?
        Kijk dan op de website van de Nederlandse Bijenhoudersvereniging.
        <a href="www.bijenhouders.nl">website</a>
    </p>

    <p>
        Heeft u een bijenzwerm in de tuin?
        De afdeling walcheren van de NBV heeft een scheplijst met contactgegevens van imkers in de buurt.
        <a href="http://walcheren.bijenhouders.nl/">website</a>
    </p>

    <p>
        Logeren in het huis van de imker? Dat kan!
        <a href="https://www.airbnb.nl/rooms/2842335?guests=1&s=z3Aob7Nu">website</a>
    </p>
  </div>
</div>
