<div id='page'>
  <h3 id='title'>Onze natuurwinkel en ons terras</h3>

  <div id='introduction'>
    <p>
      De honingbij is het kleinste landbouwhuisdier van de mens.
      Maar zeker een van de belangrijkste.
      De bij is onmisbaar voor de wereldwijde voedselproduktie.
      In onze expositieruimte krijgt u een kort en interessant overzicht van wat er allemaal komt kijken bij
      het houden van bijen.
      Zo hebben we een mooie collectie imkermaterialen van over de hele wereld en kunt u de bijen
      natuurlijk ook zien.
      Achter glas uiteraard.
    </p>
  </div>

  <%= image_tag 'pages/winkelenterras.jpeg' %>

  <div id='story'>
    <p>
      Het terras van Imkerij Poppendamme is al sinds jaar en dag een populaire pleisterplaats voor
      fietsers en wandelaars.
      Midden in onze drachtplantentuin schenken we koffie, thee en diverse andere versnaperingen.
      Voor wie de drukte aan de Zeeuwse kusten soms een beetje teveel wordt is dit een uitgelezen
      gelegenheid even helemaal tot rust te komen.
    </p>

    <p>
      Mocht u ons met een grotere groep willen bezoeken dan kan dat uiteraard altijd.
      Stuurt u ons een emailtje om te informeren naar de mogelijkheden.
    </p>

    <p>
      Wie op zoek is naar  bijzondere bijenprodukten of een leuk en uniek kadootje komt in de imkerijwinkel
      goed aan zijn trekken.
      Wij verkopen er uiteraard onze honing, maar daarnaast ook vanalles dat met bijen te maken heeft.
      Zo hebben we (handgemaakte) bijenwaskaarsen, allerlei honingsnoep, propolis en gelee royale produkten, diverse
      soorten honingwijn (die u uiteraard ook proeven kunt) en leuke kleinigheidjes voor de kinderen om of een
      vriend of familielid eens mee te verrassen.
    </p>

    <p>
      We zijn nog steeds bezig aan onze webwinkel die u later dit jaar op deze website zult terugvinden.
      Tot die tijd kunt u voor uw bestellingen bellen of emailen. Of u komt gewoon even langs natuurlijk.
    </p>
  </div>
</div>
