<div id='page'>
  <h3 class='title'>Welkom op de website van onze imkerij!</h3>

  <div class='introduction'>
    <p>
      Imkerij Poppendamme is al 25 jaar een begrip op Walcheren.
      Aan een van die mooie binnenwegen vindt u onze imkerijwinkel, expositieruimte en terras.
      De ideale plek om even uit te rusten na een fietstocht over het Walcherse platteland.
    </p>
  </div>

  <div class='story'>
    <p>
      Op ons groene en rustige terras kunt u genieten van koffie met gebak, een kopje honingthee of een heerlijk honingijsje.
      In de imkerijwinkel vindt u, naast onze honing, een keur aan produkten die met bijen en honing te maken hebben.
      Zo hebben we kaarsen, honingwijn, snoepgoed, propolisprodukten en tal van leuke kadoartikelen.
    </p>

    <p>
      In de expositieruimte ziet u onze bijen aan het werk.
      Veilig achter glas natuurlijk.
      Ook is er een kleine tentoonstelling over de bijenhouderij en draait er een leuke en
      informatieve film over de wondere wereld van de honingbij.
    </p>

    <p>
      Zoals u misschien al weet zijn we eind 2011 verhuisd naar de schuur in de tuin bij het woonhuis.
      Dit is ongeveer 50 meter van de oude locatie.
      Wanneer u de Poppendamseweg in rijdt ziet u aan de borden langs de weg precies waar de nieuwe inrit is.
    </p>

    <p>
      Hopelijk is onze webwinkel binnenkort online.
      Hierin vindt u een groot gedeelte van onze producten die u gemakkelijk kunt bestellen en laten thuis bezorgen.
      Tot die tijd kunt u altijd telefonisch of per email bestellingen plaatsen.
    </p>

    <p>
      Heeft u vragen? Bel of mail gerust, we staan u graag te woord.
    </p>

    <p>
      Arjen de Meester
    </p>

    <p>
      Imkerij Poppendamme
    </p>

    <p>
      0118-616966<br>
      imkerijpoppendamme[at]gmail.com
    </p>
  </div>
</div>
