<div id='page'>
  <h3 class='title'>Routebeschrijving</h3>

  <div class='introduction'>
    <p>
      Hoe komt u bij ons terecht?
    </p>
  </div>

  <iframe class='map' src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19860.67229741268!2d3.5397278389814817!3d51.52084691754129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c496f38e4b624f%3A0x356397db2eea7b91!2sPoppendamseweg+3%2C+4364+SL+Grijpskerke%2C+Nederland!5e0!3m2!1snl!2snl!4v1488286643853" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

  <div class='story'>
    <!-- Fiets -->
    <p><b><i>Met de fiets</i></b>
        vind je Imkerij Poppendamme centraal gelegen op Walcheren op een knooppunt van
        een aantal fiets- en wandelroutes.
        U vindt ons op een steenworp afstand van Grijpskerke in de Poppendamseweg.
        De imkerij staat aangegeven op de bekende fietsrouteborden van de ANWB.
    </p>

    <!-- Auto -->
    <p><b><i>Met de auto</i></b>
        bent u uiteraard ook welkom op de imkerij.
        Komende vanaf Middelburg richting Grijpskerke neemt u vlak voor Grijpskerke de eerste weg links, dit is na het tankstation.
        Komende vanaf Domburg/Zoutelande/Veere neemt u in Grijpskerke de Middelburgseweg richting Middelburg.
        U slaat na ongeveer 1 kilometer rechtsaf de Poppendamseweg in.
    </p>
  </div>
</div>
