<div id='page'>
  <h3 class='title'>Omschrijving</h3>

  <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.5842191359166!2d3.555048615631008!3d51.52084357963731!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c496f38e4b624f%3A0x356397db2eea7b91!2sPoppendamseweg+3%2C+4364+SL+Grijpskerke!5e0!3m2!1snl!2snl!4v1463303641967" frameborder="0" style="border:0" allowfullscreen></iframe>

  <div class='introduction'>
  </div>

  <div class='story'>
    <!-- Fiets -->
    <p><b>Met de fiets</b>
        vind je Imkerij Poppendamme centraal gelegen op Walcheren op een knooppunt van
        een aantal fiets- en wandelroutes.
        U vindt ons op een steenworp afstand van Grijpskerke in de Poppendamseweg.
        De imkerij staat aangegeven op de bekende fietsrouteborden van de ANWB.
    </p>

    <!-- Auto -->
    <p><b>Met de auto</b>
        bent u uiteraard ook welkom op de imkerij.
        Komende vanaf Middelburg richting Grijpskerke neemt u vlak voor Grijpskerke de eerste weg links na het tankstation.
        Komende vanaf Domburg/Zoutelande/Veere neemt u in Grijpskerke de Middelburgseweg richting Middelburg.
        U slaat na ongeveer 1 kilometer rechtsaf de Poppendamseweg in.
    </p>
  </div>
</div>
