<div id='orders'>
  <header>
    <h4>Verwerkt</h4>
  </header>
  <% if user.orders.where(status: :sent).any? %>
    <% user.orders.where(status: :sent).each do |order| %>
      <div class='order-invoices'>
        <%= render order.invoices.order(created_at: :asc) %>
      </div>
    <% end %>
  <% else %>
    <p>Geen</p>
  <% end %>
</div>
