<div id='orders'>
  <header>
    <h4>Verwerkt</h4>
  </header>
  <% if user.orders.where(status: :sent).any? %>
    <% user.orders.where(status: :sent).each do |order| %>
      <% order.invoices.order(created_at: :asc).each do |invoice| %>
        <%= render 'invoices/order_invoice', invoice: invoice %>
      <% end %>
    <% end %>
  <% else %>
    <p>Geen</p>
  <% end %>
</div>
