<div class='offset'>&nbsp;</div>

<div id='payment' class='to-bank'>

	<div id='controls'>
		<h2>VERZENDING</h2>
		<%= link_to "Naar de bank <i class='fa fa-arrow-right'></i>".html_safe, [:pay, @order] %>
	</div>

	<div id='order' class='co-order-col'>
		<header>
			<h3>Uw bestelling</h3>
		</header>
			<%= render @order %>
	</div>

	<div class="user-info">
		<div class="co-user-col">
			<header>
				<h3>Uw verzendgegevens</h3>
			</header>
			<%= render @customer %>
			<%= render @delivery, card_title: "Verzendadres", order: @order %>
		</div>
	</div>

</div>
