<% content_for :navigation_top_margin do %>
	<br><br>
<% end %>

<ul id='sec-nav' class='admin'>
	<li><%= active_link_to 'lounge', admin_path %></li>
	<li><%= active_link_to 'gebruikers', users_path %></li>
	<li><%= active_link_to 'orders', orders_path %></li>
</ul>
