<% content_for :navigation_top_margin do %>
	<br><br>
<% end %>

<nav id='sec-nav' class='admin'>
	<%= active_link_to 'infographics', admin_path %>
	<%= active_link_to 'gebruikers', users_path %>
	<%= active_link_to 'orders', orders_path %>
</nav>
