<% content_for :navigation_top_margin do %>
	<br>
<% end %>

<ul id='sec-nav'>
	<% @categories.each do |category| %>
		<li><%= link_to category.name.downcase, "#cat-#{category.id}" %></li>
	<% end %>
</ul>
