<div id='picture_<%= picture.id %>'>

  <nav class='record-bar'>

  	<!-- zichtbaar / onzichtbaar schakelaar -->
  	<%= link_to [:visability_toggle, imageable_object, picture],
          class: "#{picture.visable ? 'visable' : 'invisable'}",
          remote: true do %>
  		<% if picture.visable? %>
  			<i class="fa fa-eye"></i>
  		<% else %>
  			<i class="fa fa-eye-slash"></i>
  		<% end %>
  	<% end %>


  	<!-- verwijder -->
  	<%= link_to [imageable_object, picture], method: :delete, remote: true  do %>
  		<i class="fa fa-trash-o"></i>
  	<% end %>
	
	</nav>

	<div class='image'><%= image_tag picture.image.url %></div>

</div>
