<% if policy(:category).admin_action? %>

	<nav id='primary-actions' class='add-new-record'>
		<%= link_to [:new, :category], class: 'add-category', title: "nieuwe categorie" do %>
			<i class='icon-add'></i> CATEGORIE
		<% end %>
	</nav>

<% end %>
