<% if policy(:user).create? %>

	<ul id='primary-actions' class='add-new-record'>
		<li>
			<%= link_to [:new, :user], class: 'add-user', title: "nieuwe gebruiker" do %>
				<i class='fa fa-plus'></i> GEBRUIKER
			<% end %>
		</li>
	</ul>

<% end %>
