<% if policy(:user).create? %>

	<nav id='primary-actions' class='add-new-record'>
			<%= link_to [:new, :user], class: 'add-user', title: "nieuwe gebruiker" do %>
				<i class='fa fa-plus'></i> GEBRUIKER
			<% end %>
	</nav>

<% end %>
