<% if policy(:event).admin_action? %>

	<nav id='primary-actions' class='add-new-record'>
		<%= link_to [:new, :event],
					title: "nieuw agendapunt",
					class: 'without-sec-nav' do %>
			<i class='icon-add'></i> AGENDAPUNT
		<% end %>
	</nav>

<% end %>
