@import 'font-awesome';
@import 'w3';
@import 'flatpickr';
@import 'flatpickr.base16_flat';

@import 'dashboard';
@import 'icons';
@import 'invoices';

@import 'users';
@import 'events';
@import 'record_zoom';
@import 'record_tools';

@import 'navigation';
@import 'orders';

@import 'pages';
@import 'shop';
@import 'categories';
@import 'products';
@import 'payment';
@import 'deliveries';

#app-content {
	padding-top: 44px;
	// @extend .w3-container;
}

img {
	width: 100%;
}

/* Background */
#mask {
    position: fixed;
    left:0;
    top: 0;
    padding: 0;
    margin: 0;
    width: 13%;
    height: 100%;
    background-image: image-url("hexagon-pattern.svg");
    background-size: 21%;
    z-index: -1;
}
