// ADMIN: Info
#admin-info {
	// padding-top: 30px;
	.graphs {
		@extend .w3-margin-bottom;
		@extend .w3-card-2;
		@extend .w3-white;
		h4 {
			@extend .w3-padding;
		}
		small {
			@extend .w3-text-dark-grey;
		}
		div {
			@extend .w3-padding;
		}
	}
	@extend .w3-row-padding;
	#central-reports {
		@extend .w3-col;
		@extend .m6;
		@extend .w3-row-padding;
		#result-totals {
			@extend .w3-card-4;
			@extend .w3-col;
			@extend .m6;
			@extend .w3-margin-top;
			@extend .w3-margin-bottom;
			th { font-weight: lighter; }
			td { font-weight: bold; text-align: right; vertical-align: middle; }
			.overall { @extend .w3-small; @extend .w3-text-grey; @extend .w3-margin-top; }
			.previous-month { @extend .w3-medium; @extend .w3-text-grey; }
			.current-month { @extend .w3-medium; @extend .w3-text-dark-grey; }
			.today { @extend .w3-xlarge; @extend .w3-text-black; }
		}
		#order-type-totals {
			@extend .w3-card-4;
			td { text-align: right;}
			@extend .w3-col;
			@extend .m2;
			@extend .w3-margin;
		}
		table {
			@extend .w3-col;
	    @extend .w3-table;
			@extend .w3-card-4;
			@extend .w3-white;
			@extend .w3-bordered;
		}
		#overall-development {
			@extend .w3-card-4;
			@extend .graphs;
			@extend .w3-col;
			@extend .m12;
		}
	}
	#months {
		@extend .w3-col;
		@extend .m6;
		.month {
			@extend .graphs;
		}
	}
}

#users {
	padding-top: 90px;
	@extend .w3-row;
	width: 100%;
	.user {
		@extend .w3-col;
		width: 32%;
		margin-left: 1%;
	}
}
#orders {
	// @extend .w3-margin-top;
	@extend .w3-margin-bottom;
	th .status-tag {
		@extend .w3-large;
	}

	table {
		@extend .w3-table;
	}
	tr.order {
		@extend .w3-hover-grey;
		@extend .w3-border-top;
		@extend .w3-border-bottom;
		@extend .w3-border-grey;
		span.status-tag {
			@extend .w3-medium;
		}
		td a {
			text-decoration: none;
			padding-left: 10px;
			display:block;
	    height:100%;
	    width:100%;
			@extend .w3-text-black;
		}
		td {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
