#admin-info {
	padding-top: 30px;
	@extend .w3-margin;
	@extend .w3-row;
	table {
		@extend .w3-col;
		@extend .m4;
    @extend .w3-table;
		@extend .w3-bordered;
	}
}
#months {
	small {
		@extend .w3-text-dark-grey;
	}
	@extend .w3-margin-bottom;
	.month {
		h4 {
			@extend .w3-margin-top;
			@extend .w3-margin-bottom;
		}
	}
}
#users {
	padding-top: 100px;
	@extend .w3-row;
	width: 100%;
	.user {
		@extend .w3-col;
		@extend .l6;
		width: 49%;
		margin: 0 0.5%;
	}
}
#orders {
	@extend .w3-margin-top;
	@extend .w3-margin-bottom;
	th .status-tag {
		@extend .w3-large;
	}

	table {
		@extend .w3-table;
	}
	tr.order {
		@extend .w3-hover-light-grey;
		@extend .w3-hover-opacity;
		@extend .w3-border-top;
		@extend .w3-border-bottom;
		@extend .w3-border-light-grey;
		span.status-tag {
			@extend .w3-medium;
		}
		td a {
			padding-left: 10px;
			display:block;
	    height:100%;
	    width:100%;
		}
		td {
			padding-left: 0;
			padding-right: 0;
		}
	}
	a {
		text-decoration: none;
		@extend .w3-text-cyan;
	}
}
