.delivery {
  @extend .w3-white;
  @extend .w3-card;
  @extend .w3-container;
  padding-bottom: 4px;
  table {
    @extend .w3-margin-top;
    th {
      text-align: left;
      padding-right: 4px;
    }
    // werkt niet om de een of andere rede
    .field td input { width: 90%; }
  }
  p { margin: 0; }
  .button-center {
    @extend .w3-padding;
    @extend .w3-center;
    .button {
      @extend .w3-btn;
      @extend .w3-border;
      @extend .w3-border-red;
      @extend .w3-transparent;
      @extend .w3-text-black;
    }
  }
  @extend .w3-margin-bottom;
}
