// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#events {
	@extend .w3-col;
	@extend .l10;
	@extend .m10;
	@extend .s10;
	h3.title {
		color: $dark-green;
	}
	.event {
		@extend .w3-padding-24;
		@extend .w3-row-padding;
		.image-col {
			@extend .w3-col;
			@extend .l5;
			@extend .m10;
			@extend .s10;
			.cover-picture img {
				@extend .w3-round-xxlarge;
			}
		}
		.event-col {
			@extend .w3-col;
			@extend .l5;
			@extend .m10;
			@extend .s10;
			.title {
				@extend .w3-margin-top;
				h3 {
					@extend .w3-border-yellow;
					@extend .w3-bottombar;
				}
				.time {
					@extend .w3-tag;
					@extend .w3-text-yellow;
					@extend .w3-show-inline-block;
					small {
						@extend .w3-text-grey;
					}
				}
			}
		}
		@extend .w3-margin-bottom;
	}
}
#form.event {
	@extend .w3-margin-bottom;
	th {
		text-align: right;
		@extend .w3-text-brown;
	}
	.name td input { width: 90%; }
	.description td textarea { width: 90%; }
	.button {
		@extend .w3-btn;
		@extend .w3-lime;
	}
}
