#invoice-pdf {
  @extend .w3-tiny;
  h1 { @extend .w3-large; }
  h3 { @extend .w3-small; }
  h4 {
    @extend .w3-small;
    @extend .w3-text-grey;
  }
  .logo {
    img {
      height: 35px;
      width: 32px;
      padding-top: 4px;
    }
    h2 {
      font-family: $logo-font, serif;
      display: inline-block;
			margin-bottom: 4px;
			@extend .w3-xlarge;
    }
  }
  .status-tag { @extend .w3-tiny; }
  .invoice-no {
    @extend .w3-right;
  }
  .address {
    // @extend .w3-padding-bottom;
  }
  .package, .invoice {
    @extend .w3-show-inline-block;
  }
  .invoice {
    margin-left: 33%;
  }
  table{
    small { @extend .w3-text-grey; }
    small.sequence-indicator { font-size: 6px; }
    .sum { text-align: right; }
    .paid .sum { border-top: black 1px solid;}
    .total .sum { border-top: black 1px solid;}
    tfoot {
      th {
        text-align: right;
      }
    }
  }
}
#invoice-pdf.printer {
  // red was test: works.
  // color: red;
}
