#navigation {
	@extend .w3-row;
}

#identity, #main, #sec-nav, #primary-actions, #flash-messages { @extend .w3-bar; }
#identity, #main {
	@extend  .w3-col;
	@extend .l10;
	@extend .m10;
	@extend .s10;
}

#identity {
	.logo {
		@extend .w3-bar-item;
		@extend .w3-left;
		h1 {
			font-family: $logo-font, serif;
			display: inline-block;
			margin-bottom: 4px;
			@extend .w3-xlarge;
		}
		img {
			height: 35px;
			width: 32px;
			padding-top: 4px;
		}
	}
	.profile {
		@extend .w3-right;
	}
}

#main, #identity {
	@extend .w3-transparent;
	a {
		@extend .w3-bar-item;
		@extend .w3-button;
		@extend .w3-text-teal;
		@extend .w3-bottombar;
		border-color: transparent!important;
	}
	a:hover {
		color: $dark-green!important;
		border-color: $dark-green!important;
		@extend .w3-bottombar;
		@extend .w3-transparent;
	}
	a.active {
		color: $dark-green!important;
		border-color: transparent!important;
		@extend .w3-bottombar;
	}
}

#sec-nav.admin a {
	@extend .w3-dark-grey;
	@extend .w3-hover-teal;
}
#sec-nav.admin a:hover {
	box-shadow:0 8px 8px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.19)
}
#sec-nav.admin a.active { @extend .w3-teal; }
#sec-nav.shop a {
	font-family: $logo-font, serif;
	@extend .w3-medium;
	// @extend .w3-teal;
	color: $dark-green!important;
	background-color: $lighter-teal!important;
	// @extend .w3-text-yellow;
}
#sec-nav.shop a:hover {
	box-shadow:0 8px 8px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.19);
	color: #000!important;
}
#sec-nav {
	@extend .w3-transparent;
	@extend .w3-wide;
	a {
		@extend .w3-margin;
		margin-bottom: 1px;
		@extend .w3-round-xlarge;
		@extend .w3-wide;
		@extend .w3-bar-item;
		@extend .w3-button;
	}
}
#primary-actions {
	// margin-top: -3%;
	a {
		@extend .w3-bar-item;
		@extend .w3-button;
		// position: absolute;
		// top: 105px;
		@extend .w3-small;
		@extend .w3-margin;
	}
	a.without-sec-nav {
		top: 50px;
	}
}
#flash-messages {
	// margin-top: -5%;
	@extend .w3-container;
	.notice, .alert {
		@extend .w3-center;
		@extend .w3-panel;
		// position: fixed;
		// left: 0;
		// bottom: 0;
		width: 100%;
		// top: 300px;
		padding: 13px 13px 13px 13px;
		span {
			@extend .w3-right;
			// margin-right: -5px;
		}
	}
	.notice {
		@extend .w3-pale-green;
		@extend .w3-text-light-green;
	}
	.alert {
		@extend .w3-pale-red;
		@extend .w3-text-pink;
	}
}
