#navigation {
	@extend .w3-top;
}

#main-nav, #sec-nav, #primary-actions, #flash-messages {
	@extend .w3-navbar;
}

#main-nav {
	background: rgba(255, 255, 255, 0.85);
	@extend .w3-bottombar;
	@extend .w3-border-dark-grey;
	@extend .w3-card-4;
	a {
		@extend .w3-hover-grey;
	}
	a.active {
		@extend .w3-dark-grey;
	}
	.profile {
		@extend .w3-right;
	}
}
#sec-nav.admin a {
	@extend .w3-dark-grey;
	@extend .w3-hover-teal;
}
#sec-nav.admin a.active { @extend .w3-teal; }
#sec-nav.shop a {
	// @extend .w3-border;
	// @extend .w3-border-deep-orange;
	@extend .w3-medium;
	@extend .w3-dark-grey;
	@extend .w3-text-light-green;
	@extend .w3-hover-brown;
	@extend .w3-hover-text-lime;
}
// #sec-nav.shop a.active { @extend .w3-teal; }

#sec-nav {
	@extend .w3-transparent;
	@extend .w3-wide;
	a {
		@extend .w3-margin;
		margin-bottom: 1px;
		@extend .w3-round-xlarge;
		@extend .w3-wide;
		// @extend .w3-hover-brown;
	}
	a.active {
		// @extend .w3-teal;
		// @extend .w3-hover-teal;
	}
}
#primary-actions {
	li a {
		@extend .w3-small;
		@extend .w3-margin;
	}
}
#flash-messages {
	@extend .w3-margin-bottom;
	.notice, .alert {
		@extend .w3-panel;
		@extend .w3-margin-0;
		@extend .w3-center;
		width: 20%;
	}
	.notice {
		@extend .w3-pale-green;
		@extend .w3-text-light-green;
	}
	.alert {
		@extend .w3-pale-red;
		@extend .w3-text-pink;
	}
}
