// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status-tag { @extend .w3-tag;}
.status-tag.open, .status-tag.problem, .status-tag.paid, .status-tag.sent {
	@extend .w3-text-white;
	@extend .w3-padding-small;
	font-weight: bold;
}
.status-tag.problem { @extend .w3-yellow; }
.status-tag.paid { @extend .w3-red; }
.status-tag.sent { @extend .w3-green; }
.status-tag.open { @extend .w3-grey; }
#orders.guest { @extend .w3-text-grey; }
#profile {
	.order-invoice.problem { @extend .w3-border-yellow; }
	.order-invoice.paid { @extend .w3-border-red; }
	.order-invoice.sent { @extend .w3-border-green; }
	.order-invoice.open { @extend .w3-border-grey; }
	#order-processing {
		.selections.problem { @extend .w3-border-yellow; }
		.selections.paid { @extend .w3-border-red; }
		.selections.sent { @extend .w3-border-green; }
		.selections.open { @extend .w3-border-grey; }
	}
}
#orders{
	td:first-child { @extend .w3-leftbar; }
	tr.order.problem td:first-child { @extend .w3-border-yellow; }
	tr.order.paid td:first-child { @extend .w3-border-red; }
	tr.order.sent td:first-child { @extend .w3-border-green; }
	tr.order.open td:first-child { @extend .w3-border-grey; }
}
#order-processing {
	.selection-product{
		width: 25%;
	}
	.price {
		width: 14%;
	}
}

#order, #order-processing {
	.fa-trash-o {
		@extend .w3-hover-text-red;
	}
	.to-check-out {
		@extend .w3-right;
		@extend .w3-hover-text-green;
	}
	table {
		padding-left: 8px;
	}
	.selections {
		.remove {
			@extend .w3-text-grey;
			@extend .w3-hover-text-red;
		}
		td.name {
			@extend .w3-border-top;
			padding: 0;
			padding-top: 7px;
			padding-bottom: 4px;
		}
		.selection-product small {
				@extend .w3-text-grey;
	  }
		td {
			padding-top: 0;
			padding-bottom: 0;
		}
		.minus {
			text-align: right;
		}
		.price {
			text-align: right;
			padding-right: 2%;
		}
		.correction .selection-form {
			.submit {
				@extend .w3-left;
			}
		}
	}
  .selection-form {
		@extend .w3-left;
		.submit {
			@extend .w3-center;
			.button {
				@extend .w3-small;
				@extend .w3-btn;
				background-color: $brown-red;
				@extend .w3-text-yellow;
				@extend .w3-round-xlarge;
			}
		}
	}
	.correction .selection-form .submit .button {
		@extend .w3-yellow;
		@extend .w3-text-green;
	}

	.order-totals, .invoice-cyphers {
			padding-left: 4px;
			padding-bottom: 4px;
			@extend .w3-large;
		.weight {
			@extend .w3-medium;
			@extend .w3-text-grey;
		}
	}
	// Factuur.
	.invoices {
		.invoice-cyphers {
			@extend .w3-light-grey;
			.weight {
				// @extend .w3-text-light-grey;
			}
		}
		// @extend .w3-dark-grey;
		td.invoice-status {
			@extend .w3-padding-large;
			span.status {
				margin: 0;
			}
			span.closed { @extend .w3-wide; }
			@extend .w3-panel;
			@extend .w3-dark-grey;
			@extend .w3-text-light-grey;
			@extend .w3-topbar;
			@extend .w3-border-yellow;
		}
		.paid-back {
			@extend .w3-text-yellow;
		}
		.addresses {
			@extend .w3-right;
		}
		span.address {
			@extend .w3-text-white;
		}
		.button {
			width: 100%;
			@extend .w3-btn;
			@extend .w3-text-light-grey;
		}
		.download-button .button {
			@extend .w3-dark-grey;
			@extend .w3-hover-text-white;
			@extend .w3-hover-indigo; }
		.sent-out-button .button {
			@extend .w3-dark-grey;
			@extend .w3-hover-text-white;
			@extend .w3-hover-green; }
	}
}
