// Colors
$brown-red: #911A3C;
$bright-red: #EB0541;
$dark-green: #0D4837;
$bee-yellow: #DDA900;
$light-blue: #2EBAE8;
$teal: #1A916F;
$light-teal: #75BDA8;
$lighter-teal: #F1F8F6;
// Fonts
$logo-font: 'Baloo';

.w3-yellow, .w3-hover-yellow:hover { background-color: $bee-yellow!important; }
.w3-text-yellow, .w3-hover-text-yellow:hover { color: $bee-yellow!important; }
.w3-border-yellow { border-color: $bee-yellow!important; }

.w3-brown, .w3-hover-brown { background-color: $brown-red!important; }
.w3-text-brown { color: $brown-red!important; }

.w3-green, .w3-hover-green:hover { background-color: $dark-green!important; }
.w3-text-green, .w3-hover-text-green:hover { color: $dark-green!important; }
.w3-border-green { border-color: $dark-green!important; }

.w3-text-teal, .w3-hover-text-teal:hover { color: $teal!important; }

.w3-red { background-color: $bright-red!important; }
.w3-text-red, .w3-hover-text-red:hover { color: $bright-red!important; }
.w3-border-red { border-color: $bright-red!important; }
