#page {
  @extend .w3-col;
  @extend .l5;
  margin-left: 16.7%;

  #introduction {
    font-weight: lighter;
    @extend .w3-wide;
  }

  .mySlides {
    display:none;
  }
  .w3-left, .w3-right, .w3-badge {cursor:pointer}
  .w3-badge {height:13px;width:13px;padding:0}

  #map {
    width: 200%;
    height: 18em;
  }
  #story {

  }
}
