#page {
  @extend .w3-col;
  @extend .l5;
  img { @extend .w3-round-xxlarge; }

  h3#title  {
    @extend .w3-xlarge;
  }

  #introduction {
    font-weight: lighter;
    @extend .w3-wide;
    padding-bottom: 6px;
  }
  #introduction p:first-child {
    margin-top: 0;
  }

  .mySlides {
    display:none;
  }
  .w3-left, .w3-right, .w3-badge {cursor:pointer}
  .w3-badge {height:13px;width:13px;padding:0}

  #map {
    width: 200%;
    height: 18em;
  }
  #story {
    @extend .w3-padding;
  }
}

#opening-times {
  @extend .w3-col;
  @extend .m3;
  @extend .w3-right;
  @extend .w3-margin-top;
  @extend .w3-margin-right;
  @extend .w3-padding-large;
  @extend .w3-card-4;
  @extend .w3-container;
  h1 { @extend .w3-text-dark-grey; @extend .w3-center; @extend .w3-xlarge;}
  h2 { @extend .w3-text-teal; @extend .w3-large;
    margin-bottom: 5px;
  }
  h3 { @extend .w3-text-green; @extend .w3-center; @extend .w3-xlarge;}
  h4 { @extend .w3-text-grey; @extend .w3-center; @extend .w3-large;}
  p, ul {
    margin-top: 0;
  }
}

#page-edit {
  @extend .w3-margin-top;
	#pictures { @extend .w3-row-padding; }
	.picture-ajax {
		@extend .w3-col;
		@extend .l2;
		img { @extend .w3-round-xlarge; }
	}
  table {
    margin-left: 12%;
    th {
      width: 12%;
      text-align: right;
    }
    input, textarea {
      width: 60%;
    }
    .widget h2 {
      padding-left: 30%;
    }
  }
  .button {
    @extend .w3-btn;
    @extend .w3-blue;

    @extend .w3-margin-bottom;
  }
}
