#page {
  @extend .w3-col;
  @extend .l5;
  margin-left: 16.7%;
  img { @extend .w3-round-xlarge; }
  #introduction {
    font-weight: lighter;
    @extend .w3-wide;
  }

  .mySlides {
    display:none;
  }
  .w3-left, .w3-right, .w3-badge {cursor:pointer}
  .w3-badge {height:13px;width:13px;padding:0}

  #map {
    width: 200%;
    height: 18em;
  }
  #story {

  }
}
#page-edit {
  @extend .w3-margin-top;
	#pictures { @extend .w3-row-padding; }
	.picture-ajax {
		@extend .w3-col;
		@extend .l2;
		img { @extend .w3-round-xlarge; }
	}
  table {
    margin-left: 12%;
    th {
      width: 12%;
      text-align: right;
    }
    input, textarea {
      width: 60%;
    }
  }
  .button {
    @extend .w3-btn;
    @extend .w3-blue;

    @extend .w3-margin-bottom;
  }
}
