#payment {
	padding-right: 10px;
	padding-bottom: 80px;
	@extend .w3-col;
	@extend .l10;
	@extend .m10;
	@extend .s10;
	@extend .w3-row;
	.co-order-col {
		@extend .w3-col;
		@extend .l7;
		@extend .m12;
		@extend .s12;
	}
	.co-user-col {
		@extend .w3-col;
		@extend .l5;
		@extend .m12;
		@extend .s12;
	}
	#controls {
		@extend .w3-center;
		h2 {
			@extend .w3-text-grey;
			@extend .w3-xlarge;
			letter-spacing: 3px;
		}
		h2.success {
			@extend .w3-text-green;
		}
		padding-bottom: 15px;
		@extend .w3-border-grey;
		@extend .w3-bottombar;
		a {
			text-decoration: none;
			// @extend .w3-border;
			// @extend .w3-border-white;
			@extend .w3-large;
			@extend .w3-text-teal;
			@extend .w3-hover-text-yellow;
			@extend .w3-round-xlarge;
			@extend .w3-padding;
		}
		a.success {
			@extend .w3-text-teal;
			@extend .w3-hover-text-yellow;
		}
		a.download-pdf {
			@extend .w3-grey;
			@extend .w3-round-xlarge;
			@extend .w3-text-indigo;
			@extend .w3-hover-text-blue;
		}
		.confirm-hidden {
			display: none;
		}
	}
	h3 {
		@extend .w3-margin-top;
		@extend .w3-text-grey;
		@extend .w3-large;
	}
	h3.add-address {
		@extend .w3-large;
		@extend .w3-text-orange;
		@extend .w3-light-grey;
		@extend .w3-btn;
	}
	#order {
		.selections {
			@extend .w3-leftbar;
			@extend .w3-border-grey;
			width: 78%;
		}
	}
	#user-info {
		.delivery {
			.select-button {
				padding-left: 0;
				margin-left: -12px;
				@extend .w3-left;
				@extend .w3-circle;
				@extend .w3-grey;
				@extend .w3-hover-black;
				@extend .w3-text-teal;
				@extend .w3-hover-text-teal;
				@extend .w3-center;
				width: 40px;
				height: 40px;
				display: inline-block;
			}
		}
		.delivery.not-selected {
			@extend .w3-opacity-max;
		}
		.delivery.selected {
			@extend .w3-red;
			@extend .w3-card-4;
			.select-button {
				@extend .w3-black;
				@extend .w3-text-teal;
			}
		}
	}
}
