// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product {
	.description {
		@extend .w3-text-dark-grey;
	}
	.description.unavailable, .unavailable {
		@extend .w3-text-grey;
	}
	@extend .w3-row;
	@extend .w3-border-green;
	@extend .w3-leftbar;
	ul {
		@extend .w3-text-dark-grey;
	}
	.info {
		@extend .w3-row-padding;
		.cover-picture {
			@extend .w3-col;
			@extend .l4;
		}
		.main-content {
			@extend .w3-col;
			@extend .l8;
		}
	}
	.add-booking {
		@extend .w3-row;
	}
	@extend .w3-margin-bottom;
}
#store-front #products .product {
	// "meer"-knop
	.description a {
		text-decoration: none;
		padding: 6px;
		background-color: $dark-green!important;
		color: $bee-yellow!important;
		// @extend .w3-hover-brown;
		@extend .w3-btn;
		@extend .w3-hover-text-yellow;
		@extend .w3-round-xlarge;
		@extend .w3-margin;
		@extend .w3-small;
	}
	.description a:hover {
		// background-color: $bright-red!important;
	}
}
#record-zoom.product {
	img { @extend .w3-round-xxlarge; }
	.row-gallery {
		@extend .w3-row-padding;
		.gallery-picture {
			@extend .w3-col;
			@extend .l4;
			@extend .w3-margin-bottom;
		}
	}
}

.booking {
	@extend .w3-margin;
	.info {
		@extend .w3-center;
		.price {
			@extend .w3-text-grey;
		}
	}
	.submit {
		@extend .w3-center;
		.button {
			@extend .w3-btn;
			background-color: $brown-red;
			@extend .w3-text-yellow;
			@extend .w3-round-xlarge;
			@extend .w3-padding;
			@extend .w3-margin;
		}
	}
}

#shop-edit.product {
	.picture-ajax img { @extend .w3-round-xxlarge; }
	#form { @extend .w3-border-green; }
	.button {
		@extend .w3-lime;
		width: 35%;
	}
}
