.invisable {
	@extend .w3-text-grey;
	// @extend .w3-hover-light-grey;
}

.record-bar {
	@extend .w3-bar;
	@extend .w3-xlarge;
	.title { @extend .w3-left; }
	.single-move, a, h5 {
		@extend .w3-padding;
	}
	a {
		@extend .w3-bar-item;
		@extend .w3-button;
		@extend .w3-hover-none;
		@extend .w3-hover-text-yellow;
	}
	.up-down-action {
		@extend .w3-padding;
		margin-top: 6px;

		height: 50px;
		@extend .w3-small;
		@extend .w3-left;
		@extend .w3-display-container;
		.up {
			@extend .w3-display-topmiddle;
		}
		.down {
			@extend .w3-display-bottommiddle;
		}
	}
	.actions {
		@extend .w3-right;
	}
}

.add-new-record {
	@extend .w3-small;
	@extend .w3-bar;
	a {
		@extend .w3-bar-item;
		@extend .w3-button;
		@extend .w3-light-grey;
		@extend .w3-small;
		@extend .w3-margin-top;
		@extend .w3-margin-bottom;
		@extend .w3-hover-dark-grey;
		@extend .w3-hover-text-yellow;
	}
	.add-category {
		padding-top: -8px;
		// @extend .w3-hover-text-white;
		z-index: 2;
		// @extend .w3-hover-dark-grey;
	}
	.add-user {
		// @extend .w3-hover-text-yellow;
	}
}

@mixin record-table {
	table {
		@extend .w3-table;
		@extend .w3-margin-bottom;
	}
}
#form {
	@extend .w3-margin-top;
	@extend .w3-center;
	@include record-table;
}
.field_with_errors {
	@extend .w3-text-pink;
	label {
	}
	input {
		@extend .w3-border-red;
	}
}
#errors {
	@extend .w3-text-pink;
}
table .product {
	@include record-table;
}
