// Place all the styles related to the shop controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Shop Column Spread Out
.shopping-col {
	@extend .w3-col;
	@extend .l7;
  .cat-col {
  	@extend .w3-col;
  	@extend .l3;
  }
  .prod-col {
  	@extend .w3-col;
  	@extend .l9;
  }
}
.order-col {
	@extend .w3-col;
	@extend .l5;
	@extend .w3-right;
}

#store-front {
	img {
		@extend .w3-round-jumbo;
	}
  @extend .w3-margin-top;
	@extend .w3-padding-top;
	@extend .w3-row;
  header {
  	@extend .w3-row;
  	@extend .w3-text-dark-grey;
    @extend .w3-large;
  }
	// Categorie Gallery
	.cat-col {
		.gallery {
			.gallery-picture {
				@extend .w3-padding-top;
				@extend .w3-padding-bottom;
		    // @extend .w3-padding-left;
				padding-left: 15%;
				img {
					@extend .w3-round-xlarge;
					width: 75%;
					margin-top: 15%;
					}
			}
		}
	}
	#order {
		position: fixed;
		right: 0;
    .bookings {
      @extend .w3-leftbar;
			width: 95%;
    }
  }
}

#shop-edit {
	@extend .w3-margin-top;
	#pictures { @extend .w3-row-padding; }
	.picture-ajax {
		@extend .w3-col;
		@extend .l2;
		img { @extend .w3-round-xlarge; }
	}
	#form {
		@extend .w3-border-top;
		@extend .w3-margin-left;
		padding-top: 2%;
		th {
			text-align: right;
			width: 18%;
		}
		.name td input, .description td textarea { width: 60%; }
		.description td textarea { rows: 7; }
		.button { @extend .w3-btn; }
	}
}
