// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	@extend .w3-center;
}
.user {
	@extend .w3-card;
	@extend .w3-container;
	table {
		td, th {
			padding-top: 0;
		}
		th {
			text-align: left;
		}
		width: 100%;
	}
	@extend .w3-margin-bottom;
}
#profile {
	@extend .w3-row-padding;
	.user-col {
		@extend .w3-col;
		@extend .l5;
		.user {
			@extend .w3-margin-top;
		}
	}
	.orders-col {
		@extend .w3-col;
		@extend .l7;
	}
	.bookings {
		@extend .w3-border-grey;
		@extend .w3-leftbar;
		width: 100%;
	}
	#order-processing {
		.fa-cogs {
			@extend .w3-opacity;
			@extend .w3-hover-opacity-off;
			@extend .w3-text-grey;
			@extend .w3-hover-text-indigo;
		}
		.correction {
			@extend .w3-text-red;
			small {
				@extend .w3-opacity;
				@extend .w3-text-red;
			}
		}
		table.bookings {
			margin-bottom: 0;
			padding-bottom: 1%;
		}
		.order-invoice {
			.invoice-data {
				// @extend .w3-border-light-grey;
				// @extend .w3-topbar;
			}
		}
	}
	#processed {
		.order-invoice {
			@extend .w3-margin-bottom;
		}
	}
	.order-invoice {
		@extend .w3-container;
		@extend .w3-leftbar;
		.invoice-data {
			@extend .w3-row;
			// @extend .w3-panel;
			// @extend .w3-padding-left;
			@extend .w3-dark-grey;
			@extend .w3-text-dark-grey;
			// margin-top: 0;
			.main-data {
				@extend .w3-col;
				@extend .l7;
				@extend .w3-padding-medium;
				@extend .w3-padding-left;
				@extend .w3-margin-0;
				.date {
					@extend .w3-slim;
				}
				.price {
					@extend .w3-large;
				}
				.paid {
					@extend .w3-text-black;
				}
				.paid-back {
					@extend .w3-text-red;
				}
			}
			.addresses {
				@extend .w3-col;
				@extend .l5;
				@extend .w3-right;
				@extend .w3-padding-medium;
				text-align: right;
				.address {
					@extend .w3-medium;
					@extend .w3-text-black;
				}
			}
		@extend .w3-margin-0;
	}
		.invoice-actions {
			@extend .w3-btn-bar;
			@extend .w3-light-grey;
			a {
				width: 25%;
				@extend .w3-btn;
				@extend .w3-show-inline-block;
				@extend .w3-text-teal;
				@extend .w3-padding-left;
				@extend .w3-padding-right;
			}
			.print { @extend .w3-hover-indigo; }
			.pdf { @extend .w3-hover-black; }
			.problem { @extend .w3-hover-red; }
			.mail { @extend .w3-hover-green; }
		}
	}
}
// nog nodig?
#admin-actions {
	@extend .w3-navbar;
	@extend .w3-border-bottom;
	li a {
		@extend .w3-margin-bottom;
		@extend .w3-margin-right;
		@extend .w3-hover-light-grey;
		@extend .w3-hover-text-teal;
	}
}
// log-in
#log-in {
	margin-top: 14%;
	@extend .w3-center;
	.user-col {
		@extend .w3-center;
		@extend .w3-col;
		@extend .l8;
		margin-left: 16.67%;
	}
	table {
		@extend .w3-table;
		@extend .w3-border;
		@extend .w3-border-teal;
		@extend .w3-bottombar;
		@extend .w3-padding;
	}
	tbody {
		input {
			width: 100%;
		}
	}
	.record-actions {
		@extend .w3-small;
		td {
			.button {
				@extend .w3-btn;
				@extend .w3-large;
				@extend .w3-light-blue;
				@extend .w3-text-deep-orange;
			}
			@extend .w3-center;
		}
	}
}
#payment {
	#user-info {
		.user {
			table {
				@extend .w3-margin-bottom;
			}
			h4 {
				@extend .w3-center;
				@extend .w3-large;
				@extend .w3-text-dark-grey;
			}
			tbody {
				th {
					width: 45%;
				}
				td {
					width: 100%;
				}
				label {
					@extend .w3-left;
				}
				input {
					width: 100%;
				}
			}
			// @extend .w3-table;
			tfoot.record-actions {
				@extend .w3-small;
				td {
					.button {
						@extend .w3-btn;
						@extend .w3-large;
						@extend .w3-light-blue;
						@extend .w3-text-deep-orange;
					}
					@extend .w3-center;
					@extend .w3-padding;
				}
			}
		}
	}
}
