<div class='gallery'>
  <% category.pictures.where(visable: true).each do |picture| %>
    <div class='cat-picture'>
      <%= render 'pictures/gallery_picture_shop', picture: picture %>
    </div>
  <% end %>
</div>
