<div id='shop-edit'>
	<div id='details' class='details-col'>
		<%= render 'form', category: @category %>
	</div>

	<div id='pictures' class='pictures-col'>
		<% @category.pictures.each do |picture| %>
			<div class='picture'>
				<%= render picture, imageable_model: @category %>
			</div>
		<% end %>
	</div>
</div>