<div id='shop-edit'>
	<div id='details' class='details-col'>
		<%= render 'form', category: @category %>
	</div>

	<div id='pictures' class='pictures-col'>
		<%= render 'pictures/pictures', imageable_model: @category %>
	</div>
</div>
