<div class='offset'>&nbsp;</div>

<div id='shop-edit' class='category'>
	<div id='pictures'>
		<%= render 'pictures/edit_pictures', imageable_object: @category %>
	</div>

	<div id='details'>
		<%= render 'form', category: @category %>
	</div>
</div>
