<div class='description <%= 'unavailable' unless product.available %>'>
  <% if controller.action_name == 'show' %>
    <%= product.description %>
  <% else %>
    <%= truncate(product.description, length: 200) %>
  <% end %>
  <br><br>
  <%= link_to "meer informatie", [product.category, product] unless
        controller.action_name == 'show' %>
</div>
