<div class='description'>
  <% if current_page?(action: 'index') %>
    <%= truncate(product.description, length: 200) %>
  <% else %>
    <%= product.description %>
  <% end %>
  <br><br>
  <%= link_to "meer informatie", [product.category, product] %>
</div>
