<div id='shop-edit' class='product'>

	<div id='pictures'>
		<%= render 'pictures/edit_pictures', imageable_model: @product %>
	</div>
	<div id='details'>
		<%= render 'form', category: @category, product: @product %>
	</div>

</div>
