<div id='record-zoom' class='product'>

	<div class='info'>
		<%= render 'pictures/cover_picture',
					picture: @product.pictures.where(visable: true).first %>

		<div class='main-content'>
			<%= render 'pictures/row_gallery',
				pictures: @product.pictures.where(visable: true) %>
			<%= render @product, category: @product.category %>
			<%= render 'bookings/form_big', product: @product, booking: @booking %>
		</div>
	</div>

</div>
