<% content_for :navigation_top_margin do %>
  <br>
<% end %>

<% if notice %>
  <div id='flash-messages'>
    <p class="notice">
      <%= notice %>
    </p>
  </div>
<% end %>

<% if alert %>
  <div id='flash-messages'>
    <p class="alert">
      <%= alert %>
    </p>
  </div>
<% end %>
