<% if policy(:user).create? %>
	<% content_for :navigation_top_margin do %>
		<br><br><br>
	<% end %>
	
	<ul id='primary-actions' class='add-new-record'>
		<li>
			<%= link_to [:new, :user], class: 'add-user' do %>
				<i class='fa fa-plus'></i> GEBRUIKER
			<% end %>
		</li>
	</ul>
<% end %>
