<% if policy(:event).admin_action? %>
	<% content_for :navigation_top_margin do %>
		<br><br><br>
	<% end %>

	<ul id='primary-actions' class='add-new-record'>
		<li><%= link_to [:new, :event] do %>
					<i class='fa fa-plus'></i> AGENDAPUNT
				<% end %>
		</li>
	</ul>
<% end %>
