<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Factuur</title>
  <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
  <style>
    <%= wicked_pdf_stylesheet_link_tag "application" %>
  </style>
</head>

  <body>
    <%= yield %>
  </body>

</html>
